In [5]:
import pandas as pd

# Load the data from the raw data directory
df = pd.read_csv('../data/raw/lok_sabha_2009_2019.csv')

# Display the head of the DataFrame
print("First 5 rows of the dataset:")
display(df.head())

# Display basic information about the DataFrame
print("\nDataset information:")
display(df.info())

First 5 rows of the dataset:

C:\Users\Omkar\AppData\Local\Temp\ipykernel_5264\145978519.py:4: DtypeWarning: Columns (17,36,37,38,39,40,41,42,43) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('../data/raw/lok_sabha_2009_2019.csv')

,State_Name,Assembly_No,Constituency_No,Year,month,Poll_No,DelimID,Position,Candidate,Sex,...,No_Terms,Turncoat,Incumbent,Recontest,MyNeta_education,TCPD_Prof_Main,TCPD_Prof_Main_Desc,TCPD_Prof_Second,TCPD_Prof_Second_Desc,Election_Type
0,Andaman_&_Nicobar_Islands,17,1,2019,4.0,0,4,1,KULDEEP RAI SHARMA,M,...,1.0,False,False,True,Graduate Professional,Business,NaN,Social Work,NaN,Lok Sabha Election (GE)
1,Andaman_&_Nicobar_Islands,17,1,2019,4.0,0,4,2,VISHAL JOLLY,M,...,0.0,False,False,False,Graduate Professional,Liberal Profession or Professional,Lawyer,NaN,NaN,Lok Sabha Election (GE)
2,Andaman_&_Nicobar_Islands,17,1,2019,4.0,0,4,3,PARITOSH KUMAR HALDAR,M,...,0.0,False,False,False,Post Graduate,Agriculture,NaN,NaN,NaN,Lok Sabha Election (GE)
3,Andaman_&_Nicobar_Islands,17,1,2019,4.0,0,4,4,SANJAY MESHACK,M,...,0.0,False,False,True,12th Pass,Business,NaN,Politics,Municipality Member,Lok Sabha Election (GE)
4,Andaman_&_Nicobar_Islands,17,1,2019,4.0,0,4,5,PRAKASH MINJ,M,...,0.0,False,False,False,Post Graduate,Social Work,NaN,NaN,NaN,Lok Sabha Election (GE)

Dataset information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91669 entries, 0 to 91668
Data columns (total 45 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   State_Name              91669 non-null  object
 1   Assembly_No             91669 non-null  int64
 2   Constituency_No         91669 non-null  int64
 3   Year                    91669 non-null  int64
 4   month                   88590 non-null  float64
 5   Poll_No                 91669 non-null  int64
 6   DelimID                 91669 non-null  int64
 7   Position                91669 non-null  int64
 8   Candidate               91669 non-null  object
 9   Sex                     89466 non-null  object
 10  Party                   91648 non-null  object
 11  Votes                   91665 non-null  float64
 12  Candidate_Type          29979 non-null  object
 13  Valid_Votes             91669 non-null  int64
 14  Electors                91649 non-null  float64
 15  Constituency_Name       91669 non-null  object
 16  Constituency_Type       91669 non-null  object
 17  Sub_Region              3870 non-null   object
 18  N_Cand                  91669 non-null  int64
 19  Turnout_Percentage      91649 non-null  float64
 20  Vote_Share_Percentage   91649 non-null  float64
 21  Deposit_Lost            90562 non-null  object
 22  Margin                  91668 non-null  float64
 23  Margin_Percentage       91649 non-null  float64
 24  ENOP                    91649 non-null  float64
 25  pid                     90562 non-null  object
 26  Party_Type_TCPD         91394 non-null  object
 27  Party_ID                91435 non-null  float64
 28  last_poll               91669 non-null  bool
 29  Contested               90562 non-null  float64
 30  Last_Party              17807 non-null  object
 31  Last_Party_ID           17805 non-null  float64
 32  Last_Constituency_Name  17807 non-null  object
 33  Same_Constituency       17816 non-null  object
 34  Same_Party              17816 non-null  object
 35  No_Terms                90562 non-null  float64
 36  Turncoat                90562 non-null  object
 37  Incumbent               90562 non-null  object
 38  Recontest               90562 non-null  object
 39  MyNeta_education        25122 non-null  object
 40  TCPD_Prof_Main          26254 non-null  object
 41  TCPD_Prof_Main_Desc     5983 non-null   object
 42  TCPD_Prof_Second        2553 non-null   object
 43  TCPD_Prof_Second_Desc   681 non-null    object
 44  Election_Type           91669 non-null  object
dtypes: bool(1), float64(12), int64(8), object(24)
memory usage: 30.9+ MB

None

**Reasoning**:
Import pandas and load the data into a DataFrame, then display the head and info of the DataFrame to inspect it.

In [6]:
df['Year'].value_counts().sort_index()

Year
1962     1985
1963       10
1964       25
1965       18
1967     2405
1968       38
1969       27
1970       55
1971     2789
1972       53
1977     2439
1978      121
1979       39
1980     4675
1981       72
1982       93
1984     5312
1985      284
1986       16
1987       82
1988      127
1989     6159
1991     8759
1992      223
1993      133
1994        6
1995        4
1996    13970
1997       56
1998     4767
1999     4648
2000       35
2001       46
2002      117
2003       25
2004     5481
2005       58
2006      109
2007      182
2008      112
2009     8086
2011      115
2012       53
2013       60
2014     8843
2015       42
2016       41
2017       14
2018      150
2019     8613
2020        8
2021       89
Name: count, dtype: int64

In [7]:
df.shape

(91669, 45)

In [8]:
df.columns

Index(['State_Name', 'Assembly_No', 'Constituency_No', 'Year', 'month',
       'Poll_No', 'DelimID', 'Position', 'Candidate', 'Sex', 'Party', 'Votes',
       'Candidate_Type', 'Valid_Votes', 'Electors', 'Constituency_Name',
       'Constituency_Type', 'Sub_Region', 'N_Cand', 'Turnout_Percentage',
       'Vote_Share_Percentage', 'Deposit_Lost', 'Margin', 'Margin_Percentage',
       'ENOP', 'pid', 'Party_Type_TCPD', 'Party_ID', 'last_poll', 'Contested',
       'Last_Party', 'Last_Party_ID', 'Last_Constituency_Name',
       'Same_Constituency', 'Same_Party', 'No_Terms', 'Turncoat', 'Incumbent',
       'Recontest', 'MyNeta_education', 'TCPD_Prof_Main',
       'TCPD_Prof_Main_Desc', 'TCPD_Prof_Second', 'TCPD_Prof_Second_Desc',
       'Election_Type'],
      dtype='object')

In [9]:
df.isnull().sum()

State_Name                    0
Assembly_No                   0
Constituency_No               0
Year                          0
month                      3079
Poll_No                       0
DelimID                       0
Position                      0
Candidate                     0
Sex                        2203
Party                        21
Votes                         4
Candidate_Type            61690
Valid_Votes                   0
Electors                     20
Constituency_Name             0
Constituency_Type             0
Sub_Region                87799
N_Cand                        0
Turnout_Percentage           20
Vote_Share_Percentage        20
Deposit_Lost               1107
Margin                        1
Margin_Percentage            20
ENOP                         20
pid                        1107
Party_Type_TCPD             275
Party_ID                    234
last_poll                     0
Contested                  1107
Last_Party                73862
Last_Party_ID             73864
Last_Constituency_Name    73862
Same_Constituency         73853
Same_Party                73853
No_Terms                   1107
Turncoat                   1107
Incumbent                  1107
Recontest                  1107
MyNeta_education          66547
TCPD_Prof_Main            65415
TCPD_Prof_Main_Desc       85686
TCPD_Prof_Second          89116
TCPD_Prof_Second_Desc     90988
Election_Type                 0
dtype: int64

## Filter data

### Subtask:
Filter the DataFrame to include only the years 2009, 2014, and 2019.

**Reasoning**:
Filter the DataFrame to include only the years 2009, 2014, and 2019, and then display the head and info of the filtered DataFrame to verify the results.

In [ ]:
df = df[df['Year'].isin([x])]
display(df.head())
display(df.info())

,State_Name,Assembly_No,Constituency_No,Year,month,Poll_No,DelimID,Position,Candidate,Sex,...,No_Terms,Turncoat,Incumbent,Recontest,MyNeta_education,TCPD_Prof_Main,TCPD_Prof_Main_Desc,TCPD_Prof_Second,TCPD_Prof_Second_Desc,Election_Type
0,Andaman_&_Nicobar_Islands,17,1,2019,4.0,0,4,1,KULDEEP RAI SHARMA,M,...,1.0,False,False,True,Graduate Professional,Business,NaN,Social Work,NaN,Lok Sabha Election (GE)
1,Andaman_&_Nicobar_Islands,17,1,2019,4.0,0,4,2,VISHAL JOLLY,M,...,0.0,False,False,False,Graduate Professional,Liberal Profession or Professional,Lawyer,NaN,NaN,Lok Sabha Election (GE)
2,Andaman_&_Nicobar_Islands,17,1,2019,4.0,0,4,3,PARITOSH KUMAR HALDAR,M,...,0.0,False,False,False,Post Graduate,Agriculture,NaN,NaN,NaN,Lok Sabha Election (GE)
3,Andaman_&_Nicobar_Islands,17,1,2019,4.0,0,4,4,SANJAY MESHACK,M,...,0.0,False,False,True,12th Pass,Business,NaN,Politics,Municipality Member,Lok Sabha Election (GE)
4,Andaman_&_Nicobar_Islands,17,1,2019,4.0,0,4,5,PRAKASH MINJ,M,...,0.0,False,False,False,Post Graduate,Social Work,NaN,NaN,NaN,Lok Sabha Election (GE)

<class 'pandas.core.frame.DataFrame'>
Index: 79313 entries, 0 to 81499
Data columns (total 45 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   State_Name              79313 non-null  object
 1   Assembly_No             79313 non-null  int64
 2   Constituency_No         79313 non-null  int64
 3   Year                    79313 non-null  int64
 4   month                   79013 non-null  float64
 5   Poll_No                 79313 non-null  int64
 6   DelimID                 79313 non-null  int64
 7   Position                79313 non-null  int64
 8   Candidate               79313 non-null  object
 9   Sex                     78565 non-null  object
 10  Party                   79311 non-null  object
 11  Votes                   79313 non-null  float64
 12  Candidate_Type          29393 non-null  object
 13  Valid_Votes             79313 non-null  int64
 14  Electors                79313 non-null  float64
 15  Constituency_Name       79313 non-null  object
 16  Constituency_Type       79313 non-null  object
 17  Sub_Region              3823 non-null   object
 18  N_Cand                  79313 non-null  int64
 19  Turnout_Percentage      79313 non-null  float64
 20  Vote_Share_Percentage   79311 non-null  float64
 21  Deposit_Lost            78226 non-null  object
 22  Margin                  79313 non-null  float64
 23  Margin_Percentage       79311 non-null  float64
 24  ENOP                    79311 non-null  float64
 25  pid                     78226 non-null  object
 26  Party_Type_TCPD         79284 non-null  object
 27  Party_ID                79296 non-null  float64
 28  last_poll               79313 non-null  bool
 29  Contested               78226 non-null  float64
 30  Last_Party              15986 non-null  object
 31  Last_Party_ID           15984 non-null  float64
 32  Last_Constituency_Name  15986 non-null  object
 33  Same_Constituency       15989 non-null  object
 34  Same_Party              15989 non-null  object
 35  No_Terms                78226 non-null  float64
 36  Turncoat                78226 non-null  object
 37  Incumbent               78226 non-null  object
 38  Recontest               78226 non-null  object
 39  MyNeta_education        25122 non-null  object
 40  TCPD_Prof_Main          26254 non-null  object
 41  TCPD_Prof_Main_Desc     5983 non-null   object
 42  TCPD_Prof_Second        2553 non-null   object
 43  TCPD_Prof_Second_Desc   681 non-null    object
 44  Election_Type           79313 non-null  object
dtypes: bool(1), float64(12), int64(8), object(24)
memory usage: 27.3+ MB

None

In [11]:
print(df.columns)

Index(['State_Name', 'Assembly_No', 'Constituency_No', 'Year', 'month',
       'Poll_No', 'DelimID', 'Position', 'Candidate', 'Sex', 'Party', 'Votes',
       'Candidate_Type', 'Valid_Votes', 'Electors', 'Constituency_Name',
       'Constituency_Type', 'Sub_Region', 'N_Cand', 'Turnout_Percentage',
       'Vote_Share_Percentage', 'Deposit_Lost', 'Margin', 'Margin_Percentage',
       'ENOP', 'pid', 'Party_Type_TCPD', 'Party_ID', 'last_poll', 'Contested',
       'Last_Party', 'Last_Party_ID', 'Last_Constituency_Name',
       'Same_Constituency', 'Same_Party', 'No_Terms', 'Turncoat', 'Incumbent',
       'Recontest', 'MyNeta_education', 'TCPD_Prof_Main',
       'TCPD_Prof_Main_Desc', 'TCPD_Prof_Second', 'TCPD_Prof_Second_Desc',
       'Election_Type'],
      dtype='object')

# Task
Clean the data in the file "LS_2019.csv" by handling null values, standardizing data, and calculating vote share, then save the cleaned data to a new CSV file.

## Handle missing values

### Subtask:
Address missing values in relevant columns.

**Reasoning**:
Check the number of null values in the relevant columns to identify how to handle the missing values.

In [12]:
print(df[['Votes', 'Electors', 'Party', 'State_Name']].isnull().sum())

Votes         0
Electors      0
Party         2
State_Name    0
dtype: int64

**Reasoning**:
Since 'Votes', 'Electors', and 'State_Name' have no missing values, and 'Party' has only 2 missing values, drop the rows with missing values in the 'Party' column as this is a small number and imputation might not be accurate.

In [13]:
df.dropna(subset=['Party'], inplace=True)
print(df[['Votes', 'Electors', 'Party', 'State_Name']].isnull().sum())

Votes         0
Electors      0
Party         0
State_Name    0
dtype: int64

## Standardize data

### Subtask:
Clean and standardize 'State_Name' and 'Party' columns.

**Reasoning**:
Standardize the 'State_Name' and 'Party' columns by converting them to lowercase and then display the unique values and their counts to verify the changes.

In [14]:
df['State_Name'] = df['State_Name'].str.lower()
df['Party'] = df['Party'].str.lower()

display(df['State_Name'].value_counts())
display(df['Party'].value_counts())

State_Name
uttar_pradesh                15535
bihar                         8077
maharashtra                   7195
tamil_nadu                    6018
madhya_pradesh                5549
andhra_pradesh                5443
karnataka                     4047
west_bengal                   3991
rajasthan                     3606
gujarat                       3252
delhi                         2465
haryana                       2249
kerala                        2065
punjab                        1780
odisha                        1716
assam                         1136
jharkhand                      928
jammu_&_kashmir                751
chhattisgarh                   679
telangana                      460
himachal_pradesh               382
chandigarh                     322
uttarakhand                    266
manipur                        192
goa                            185
tripura                        181
puducherry                     175
meghalaya                      106
andaman_&_nicobar_islands      105
arunachal_pradesh              101
dadra_&_nagar_haveli            71
sikkim                          70
daman_&_diu                     55
mizoram                         48
lakshadweep                     39
nagaland                        37
goa,_daman_&_diu                34
Name: count, dtype: int64

Party
ind       43434
inc        4708
bjp        3793
bsp        3007
sp         1111
          ...
kna           1
mpc           1
nvsp          1
rsdal         1
ljspty        1
Name: count, Length: 1465, dtype: int64

## Select relevant columns

### Subtask:
Keep only the necessary columns for the analysis.

**Reasoning**:
Filter the DataFrame to keep only the essential columns and display the head and info of the filtered DataFrame.

In [15]:
columns_to_keep = ['State_Name', 'Constituency_No', 'Year', 'Party', 'Candidate','Incumbent','N_Cand','Constituency_Type', 'Votes', 'Valid_Votes']
df = df[columns_to_keep]
display(df.head())
display(df.info())

,State_Name,Constituency_No,Year,Party,Candidate,Incumbent,N_Cand,Constituency_Type,Votes,Valid_Votes
0,andaman_&_nicobar_islands,1,2019,inc,KULDEEP RAI SHARMA,False,15,GEN,95308.0,207296
1,andaman_&_nicobar_islands,1,2019,bjp,VISHAL JOLLY,False,15,GEN,93901.0,207296
2,andaman_&_nicobar_islands,1,2019,ind,PARITOSH KUMAR HALDAR,False,15,GEN,5341.0,207296
3,andaman_&_nicobar_islands,1,2019,aaap,SANJAY MESHACK,False,15,GEN,2839.0,207296
4,andaman_&_nicobar_islands,1,2019,bsp,PRAKASH MINJ,False,15,GEN,2486.0,207296

<class 'pandas.core.frame.DataFrame'>
Index: 79311 entries, 0 to 81499
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   State_Name         79311 non-null  object
 1   Constituency_No    79311 non-null  int64
 2   Year               79311 non-null  int64
 3   Party              79311 non-null  object
 4   Candidate          79311 non-null  object
 5   Incumbent          78226 non-null  object
 6   N_Cand             79311 non-null  int64
 7   Constituency_Type  79311 non-null  object
 8   Votes              79311 non-null  float64
 9   Valid_Votes        79311 non-null  int64
dtypes: float64(1), int64(4), object(5)
memory usage: 6.7+ MB

None

In [18]:
df['Incumbent'].fillna('True',inplace=True)

C:\Users\Omkar\AppData\Local\Temp\ipykernel_5264\551115568.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Incumbent'].fillna('True',inplace=True)

## Calculate vote share

### Subtask:
Compute the vote share percentage for each candidate.

**Reasoning**:
Calculate the vote share percentage for each candidate using the 'Votes' and 'Valid_Votes' columns, and then display the head of the DataFrame to show the new 'Vote_Share' column.

In [19]:
df['Vote_Share'] = (df['Votes'] / df['Valid_Votes']) * 100
display(df.head())

,State_Name,Constituency_No,Year,Party,Candidate,Incumbent,N_Cand,Constituency_Type,Votes,Valid_Votes,Vote_Share
0,andaman_&_nicobar_islands,1,2019,inc,KULDEEP RAI SHARMA,False,15,GEN,95308.0,207296,45.976768
1,andaman_&_nicobar_islands,1,2019,bjp,VISHAL JOLLY,False,15,GEN,93901.0,207296,45.298028
2,andaman_&_nicobar_islands,1,2019,ind,PARITOSH KUMAR HALDAR,False,15,GEN,5341.0,207296,2.576509
3,andaman_&_nicobar_islands,1,2019,aaap,SANJAY MESHACK,False,15,GEN,2839.0,207296,1.369539
4,andaman_&_nicobar_islands,1,2019,bsp,PRAKASH MINJ,False,15,GEN,2486.0,207296,1.199251

## Save the cleaned data

### Subtask:
Store the processed DataFrame to a new CSV file.

**Reasoning**:
Save the processed DataFrame to a new CSV file.

In [26]:
from pathlib import Path

# Go up one level from notebooks folder to project root
output_path = Path('../data/processed/cleaned_election_results.csv')

# Create parent directories if they don't exist
output_path.parent.mkdir(parents=True, exist_ok=True)

# Save the DataFrame
df.to_csv(output_path, index=False)

print(f"File saved to: {output_path}")

File saved to: ..\data\processed\cleaned_election_results.csv